/target/
/target/classes/
/target/generated-sources/
/target/maven-archiver/
/target/maven-status/
/target/properties/
/target/resourceBundles/
/target/resourceBundles/pagedata_ru.properties
/target/resourceBundles/pagedata_en_US.properties
/target/ru/
/target/SEIMS-1.0-SNAPSHOT/
/target/sql/
/target/static/
/target/static/.html
/target/static/main.css
/target/temp/
/target/application.properties
/target/SEIMS-1.0-SNAPSHOT.war
/target/SEIMS-1.0-SNAPSHOT.war.original
